@font-face {
  font-family: 'Brusher';
  src: url('../../public/src/Fonts/Brusher.ttf');

}
@font-face {
  font-family: 'HelveticaLight';
  src: url('../../public/src/Fonts/helvetica/HelveticaLight/HelveticaLight.ttf');
}
@font-face {
  font-family: 'HelveticaBlack';
  src: url('../../public/src/Fonts/helvetica/HelveticaBlack/HelveticaBlack.ttf');
}
@font-face {
  font-family: 'HelveticaBold';
  src: url('../../public/src/Fonts/helvetica/HelveticaBold/HelveticaBold.ttf');
}
@font-face {
  font-family: 'HelveticaHeavy';
  src: url('../../public/src/Fonts/helvetica/HelveticaHeavy/HelveticaHeavy.ttf');
}
